{extend name="base/base" /}
{block name="main"}
<style>
    html, body {
        height: 100%;
    }
</style>
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal" onclick="add();">添加导航</a>
                <a class="layui-btn  layui-btn-normal" onclick="openAll();">展开或折叠全部</a>
            </div>
        </form>
    </blockquote>
</form>
<script type="text/html" id="type">
    {{ d.type == 0 ? '菜单' : '链接' }}
</script>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="status"
           {{ d.status== 1 ? 'checked' : '' }}>
</script>


<script type="text/html" id="action">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>

<table class="layui-table" id="treeTable" lay-filter="treeTable"></table>
{/block}
{block name="script"}
<script>
    var ptable = null, treeGrid = null, tableId = 'treeTable', layer = null, $ = null, form = null
    layui.config({
        base: '/layui/extend/'
    }).extend({
        treeGrid: 'treeGrid'
    }).use(['jquery', 'treeGrid', 'layer', 'form','table'], function () {
        $ = layui.jquery;
        table=layui.table;
        treeGrid = layui.treeGrid;
        layer = layui.layer;
        form = layui.form;
        ptable = treeGrid.render({
            id: tableId,
            elem: '#' + tableId,
            idField: 'id',
            url: "{:url('/admin/navlist')}",
            cellMinWidth: 100,
            treeId: 'id',//树形id字段名称
            treeUpId: 'pid',//树形父id字段名称
            treeShowName: 'name',//以树形式显示的字段
            height: 'full-140',
            isFilter: false,
            iconOpen: false,//是否显示图标【默认显示】
            isOpenDefault: false,//节点默认是展开还是折叠【默认展开】
            onDblClickRow: false,//去除双击事件
            cols: [[
                {field: 'id', title: '编号'},
                {field: 'name', title: '名称',},
                {field: 'type', align: 'center', title: '类型', toolbar: '#type'},
                {field: 'status',align: 'center',title: '状态',toolbar: '#status'},
                {field: 'sort', align: 'center', title: '排序',sort:true,edit:'text'},
                {field: 'create_date', align: 'center', title: '创建时间'},
                {width: 160, align: 'center', title: '操作', templet: '#action'}
            ]],
            page: true
        });
        treeGrid.on('tool(' + tableId + ')', function (obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('确定删除操作？', {icon: 3, title: '提示信息'}, function (index) {
                    $.post("{:url('/admin/navdelete')}", {id: data.id}, function (data) {
                        var icon = 5;
                        if (data.code) {
                            icon = 6;
                        }
                        layer.msg(data.msg, {icon: icon}, function () {
                            if (data.code) {
                                obj.del();//删除对应的行
                            }
                        });
                    });
                });
            }
            if (obj.event === 'edit') {
                edit(data.id)
            }
        });
        treeGrid.on('edit(' + tableId + ')', function(obj){
            if(isNaN(obj.value)){
                layer.msg('请输入数字',{icon:5})
                return false;
            }
            console.log(obj)

        });
        //监听状态操作
        form.on('switch(status)', function(obj){
            console.log(obj)
            var id=obj.value;
            var status=obj.elem.checked;
            $.post("{:url('/admin/navStatusEdit')}",{id:id,status:status},function (data) {
                var icon = 5;
                if(data.code){
                    icon=6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500})
            })
        });
    });

    /**
     * 添加菜单
     */
    function add() {
        var index = layui.layer.open({
            type: 2,
            title: '添加菜单',
            content: "{:url('/admin/navedit')}",
            success: function (layero, index) {
                var body = layui.layer.getChildFrame('body', index);
                setTimeout(function () {
                    layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                    });
                }, 500)
            }
        });
        layui.layer.full(index);
        window.sessionStorage.setItem("index",index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize",function(){
            layui.layer.full(window.sessionStorage.getItem("index"));
        })
    }

    /**
     * 编辑菜单
     * @param id
     */
    function edit(id) {
        var index = layui.layer.open({
            type: 2,
            title: '编辑菜单',
            content: "{:url('/admin/navedit')}" + '?id=' + id,
            success: function (layero, index) {
                var body = layui.layer.getChildFrame('body', index);
                setTimeout(function () {
                    layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                    });
                }, 500)
            }
        });
        layui.layer.full(index);
        window.sessionStorage.setItem("index", index);
        //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
        $(window).on("resize", function () {
            layui.layer.full(window.sessionStorage.getItem("index"));
        })
    }

    function openAll() {
        var treedata = treeGrid.getDataTreeList(tableId);
        treeGrid.treeOpenAll(tableId, !treedata[0][treeGrid.config.cols.isOpen]);
    }
</script>
{/block}