{extend name="base/base" /}
{block name="main"}

<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin/navedit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            {form:radio name="type" list="['1'=>'本地菜单','2'=>'外链']" value="$list['status']"}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">链接</label>
        <div class="layui-input-block">
            <input type="text" name="url" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify='url' value="#">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所属上级</label>
        <div class="layui-input-block">
            <input type="text" id="tree" lay-filter="tree" class="layui-input">
            <!--<select name="pid">-->
                <!---->
                <!--<option value="0">顶级节点</option>-->
                <!--{volist name='navlist' id='navlists'}-->
                <!--<option value="{$navlists.id}">{$navlists.name}</option>-->
                <!--{/volist}-->
            <!--</select>-->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" class="layui-input" lay-verify="number">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否禁用</label>
        <div class="layui-input-block">
            {form:radio name="status" list="['0'=>'是','1'=>'否']" value="$list['status']"}

        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="uid" value="{:isset($list['uid'])?$list['uid']:''}">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>

    layui.config({
        base: '/layui/extend/'
    }).extend({
        treeSelect: 'treeSelect'
    }).use(['form', 'jquery','treeSelect'], function () {
        var form = layui.form, $ = layui.jquery;
        var treeSelect= layui.treeSelect;
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                console.log(data)
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {

                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
        treeSelect.render({
            // 选择器
            elem: '#tree',
            // 数据
            data: "{:url('/admin/ceshi')}",
            // 异步加载方式：get/post，默认get
            // 占位符
            placeholder: '修改默认提示信息',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            // 点击回调
            click: function(d){
                console.log(d);
            },
            // 加载完成后的回调函数
            success: function (d) {
                console.log(d);
//                选中节点，根据id筛选
//                treeSelect.checkNode('tree', 3);

//                获取zTree对象，可以调用zTree方法
//                var treeObj = treeSelect.zTree('tree');
//                console.log(treeObj);

//                刷新树结构
//                treeSelect.refresh();
            }
        });


    });


</script>
{/block}